.idea/
node_modules/
.DS_Store

e2e-tests/errorShots/
vm/.vagrant
vm/backup/
vm/www/awstats/
vm/www/cgi-bin/
vm/www/wp-admin/
vm/www/wp-content/*
!vm/www/wp-content/themes/
vm/www/wp-includes/
vm/www/wp-snapshots/
vm/www/.htaccess*
vm/www/web.config*
vm/www/*.htm
vm/www/*.html
vm/www/*.php
vm/www/*.txt
vm/robots.noindex.txt
vm/Vagrantfile
!vm/www/wp-content/themes/*
/RESET.md